

.validation-summary-errors {
    border: 2px solid #a94442;
    background-color: #d76663;
    border-radius: 8px;
    margin-bottom: 8px;
}

    .validation-summary-errors ul {
        list-style-type: none;
        color: #fff;
        padding: 10px;
    }
